# Non Graded Challenge 08

## Introduction

In [ ]:
'''
=================================================
Non Graded Challenge 08

Nama  : Diko Alfatha Ikhram
Batch : RMT-29

Program ini dibuat untuk Data Loading,Data Cleaning, Data Exploration dan Conclusion
=================================================
'''

## Libraries

In [17]:
import pandas as pd
import numpy as np

## Data Loading

In [188]:
# mengamil dataset dari link
df = pd.read_csv('https://raw.githubusercontent.com/FTDS-learning-materials/phase-0/main/src/data_ngc.csv')
df.to_excel('output.xlsx')
# membuat backup dataframe
dfBackup = df

# recover dataframe dari backup
# df = dfBackup

# cek dataframe
df

,province_state,country_region,date,latitude,longitude,location_geom,confirmed,deaths,recovered,active,fips,admin2,combined_key
0,NaN,Malaysia,2020-03-08,2.5000,112.5000,POINT(112.5 2.5),99.0,0.0,24.0,NaN,NaN,NaN,NaN
1,NaN,Malaysia,2020-03-10,2.5000,112.5000,POINT(112.5 2.5),129.0,0.0,24.0,NaN,NaN,NaN,NaN
2,NaN,Singapore,2020-03-13,1.3521,103.8198,POINT(103.8198 1.3521),200.0,0.0,97.0,NaN,NaN,NaN,NaN
3,NaN,Malaysia,2020-03-13,4.2105,101.9758,POINT(101.9758 4.2105),197.0,0.0,26.0,NaN,NaN,NaN,NaN
4,NaN,Malaysia,2020-03-15,4.2105,101.9758,POINT(101.9758 4.2105),428.0,0.0,42.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11925,Pahang,Malaysia,2022-06-02,3.8126,103.3256,POINT(103.3256 3.8126),171734.0,975.0,NaN,NaN,NaN,NaN,"Pahang, Malaysia"
11926,Pahang,Malaysia,2022-04-29,3.8126,103.3256,POINT(103.3256 3.8126),170740.0,970.0,NaN,NaN,NaN,NaN,"Pahang, Malaysia"
11927,Pahang,Malaysia,2022-01-10,3.8126,103.3256,POINT(103.3256 3.8126),97320.0,782.0,NaN,NaN,NaN,NaN,"Pahang, Malaysia"
11928,Pahang,Malaysia,2023-02-25,3.8126,103.3256,POINT(103.3256 3.8126),182730.0,1031.0,NaN,NaN,NaN,NaN,"Pahang, Malaysia"
11929,Pahang,Malaysia,2022-09-29,3.8126,103.3256,POINT(103.3256 3.8126),177522.0,1008.0,NaN,NaN,NaN,NaN,"Pahang, Malaysia"

## Data Cleaning

### Delete unused columns

In [189]:
df.drop(columns=['fips','admin2'], axis= 1, inplace=True)

### Handling Missing Values

In [190]:
# cek value yang tidak ada
df.isnull().sum()

province_state     2852
country_region        0
date                  0
latitude            609
longitude           609
location_geom       609
confirmed             1
deaths               17
recovered         10290
active            10410
combined_key        137
dtype: int64

In [191]:
# mengganti value yang tidak ada
df['province_state'].fillna('Unknown', inplace=True)
df['latitude'].fillna(0, inplace=True)
df['longitude'].fillna(0, inplace=True)
df['location_geom'] = 'POINT(' + df['longitude'].astype(str) + ' ' + df['latitude'].astype(str) + ')'
df['confirmed'].fillna(0, inplace=True)
df['deaths'].fillna(0, inplace=True)
df['recovered'].fillna(0, inplace=True)
df['active'].fillna(0, inplace=True)
df['combined_key'] = df['province_state'] + ', ' + df['country_region']

# cek value yang tidak ada setelah diganti valuenya
df.isnull().sum()

C:\Users\dikoa\AppData\Local\Temp\ipykernel_8908\2798202196.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['province_state'].fillna('Unknown', inplace=True)
C:\Users\dikoa\AppData\Local\Temp\ipykernel_8908\2798202196.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['latitude'].fillna(0, inplace=True)
C:\Users\dikoa\AppData\Local\Temp\ipykernel_8908\2798202196.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['longitude'].fillna(0, inplace=True)
C:\Users\dikoa\AppData\Local\Temp\ipykernel_8908\2798202196.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['confirmed'].fillna(0, inplace=True)
C:\Users\dikoa\AppData\Local\Temp\ipykernel_8908\2798202196.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['deaths'].fillna(0, inplace=True)
C:\Users\dikoa\AppData\Local\Temp\ipykernel_8908\2798202196.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['recovered'].fillna(0, inplace=True)
C:\Users\dikoa\AppData\Local\Temp\ipykernel_8908\2798202196.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['active'].fillna(0, inplace=True)

province_state    0
country_region    0
date              0
latitude          0
longitude         0
location_geom     0
confirmed         0
deaths            0
recovered         0
active            0
combined_key      0
dtype: int64

Mengganti value yang tidak ada dengan value unknown atau 0, value location_geom dengan data dari longitude dan latitude, dan value combined_key dengan data dari province_state dan country_region

### Handling Data Duplicate

In [184]:
# cek duplikasi
duplicates = df.duplicated()
duplicates.sum()

0

karna tidak ada data duplicate maka proses duplicate dihentikan sampai pengecekan

### Incosistent Data Handling

In [192]:
# cek tipe data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11930 entries, 0 to 11929
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   province_state  11930 non-null  object
 1   country_region  11930 non-null  object
 2   date            11930 non-null  object
 3   latitude        11930 non-null  float64
 4   longitude       11930 non-null  float64
 5   location_geom   11930 non-null  object
 6   confirmed       11930 non-null  float64
 7   deaths          11930 non-null  float64
 8   recovered       11930 non-null  float64
 9   active          11930 non-null  float64
 10  combined_key    11930 non-null  object
dtypes: float64(6), object(5)
memory usage: 1.0+ MB

In [193]:
# mengganti tipe data yang salah
df['date'] = pd.to_datetime(df['date'])
df['confirmed'] = df['confirmed'].astype(int)
df['deaths'] = df['deaths'].astype(int)
df['recovered'] = df['recovered'].astype(int)
df['active'] = df['active'].astype(int)

# cek tipe data setelah mengganti tipe datanya
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11930 entries, 0 to 11929
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   province_state  11930 non-null  object
 1   country_region  11930 non-null  object
 2   date            11930 non-null  datetime64[ns]
 3   latitude        11930 non-null  float64
 4   longitude       11930 non-null  float64
 5   location_geom   11930 non-null  object
 6   confirmed       11930 non-null  int32
 7   deaths          11930 non-null  int32
 8   recovered       11930 non-null  int32
 9   active          11930 non-null  int32
 10  combined_key    11930 non-null  object
dtypes: datetime64[ns](1), float64(2), int32(4), object(4)
memory usage: 839.0+ KB

mengubah kolom date pada dataframe dari type object menjadi date, dan mengubah kolom confirmed, deaths, recovered,active menjadi int

## Data Exploration

In [194]:
df.head()

,province_state,country_region,date,latitude,longitude,location_geom,confirmed,deaths,recovered,active,combined_key
0,Unknown,Malaysia,2020-03-08,2.5000,112.5000,POINT(112.5 2.5),99,0,24,0,"Unknown, Malaysia"
1,Unknown,Malaysia,2020-03-10,2.5000,112.5000,POINT(112.5 2.5),129,0,24,0,"Unknown, Malaysia"
2,Unknown,Singapore,2020-03-13,1.3521,103.8198,POINT(103.8198 1.3521),200,0,97,0,"Unknown, Singapore"
3,Unknown,Malaysia,2020-03-13,4.2105,101.9758,POINT(101.9758 4.2105),197,0,26,0,"Unknown, Malaysia"
4,Unknown,Malaysia,2020-03-15,4.2105,101.9758,POINT(101.9758 4.2105),428,0,42,0,"Unknown, Malaysia"

In [195]:
df.tail()

,province_state,country_region,date,latitude,longitude,location_geom,confirmed,deaths,recovered,active,combined_key
11925,Pahang,Malaysia,2022-06-02,3.8126,103.3256,POINT(103.3256 3.8126),171734,975,0,0,"Pahang, Malaysia"
11926,Pahang,Malaysia,2022-04-29,3.8126,103.3256,POINT(103.3256 3.8126),170740,970,0,0,"Pahang, Malaysia"
11927,Pahang,Malaysia,2022-01-10,3.8126,103.3256,POINT(103.3256 3.8126),97320,782,0,0,"Pahang, Malaysia"
11928,Pahang,Malaysia,2023-02-25,3.8126,103.3256,POINT(103.3256 3.8126),182730,1031,0,0,"Pahang, Malaysia"
11929,Pahang,Malaysia,2022-09-29,3.8126,103.3256,POINT(103.3256 3.8126),177522,1008,0,0,"Pahang, Malaysia"

In [196]:
df.shape

(11930, 11)

In [197]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11930 entries, 0 to 11929
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   province_state  11930 non-null  object
 1   country_region  11930 non-null  object
 2   date            11930 non-null  datetime64[ns]
 3   latitude        11930 non-null  float64
 4   longitude       11930 non-null  float64
 5   location_geom   11930 non-null  object
 6   confirmed       11930 non-null  int32
 7   deaths          11930 non-null  int32
 8   recovered       11930 non-null  int32
 9   active          11930 non-null  int32
 10  combined_key    11930 non-null  object
dtypes: datetime64[ns](1), float64(2), int32(4), object(4)
memory usage: 839.0+ KB

In [198]:
df.describe()

,date,latitude,longitude,confirmed,deaths,recovered,active
count,11930,11930.000000,11930.000000,1.193000e+04,11930.000000,1.193000e+04,11930.000000
mean,2022-03-23 01:38:51.399832320,3.207323,99.560887,5.691203e+05,10279.442330,4.044388e+04,5481.933529
min,2020-01-23 00:00:00,-0.789300,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000
25%,2021-11-24 00:00:00,1.485400,101.518300,5.978950e+04,195.000000,0.000000e+00,0.000000
50%,2022-04-30 00:00:00,3.073800,102.238100,2.019505e+05,1424.000000,0.000000e+00,0.000000
75%,2022-10-03 18:00:00,5.311700,103.833300,3.569938e+05,2758.750000,0.000000e+00,0.000000
max,2023-03-09 00:00:00,6.444900,116.075300,6.738225e+06,624641.000000,2.907920e+06,574135.000000
std,NaN,2.234617,23.649867,1.245346e+06,33474.747351,2.184689e+05,32293.008938

In [154]:
df.columns

Index(['province_state', 'country_region', 'date', 'latitude', 'longitude',
       'location_geom', 'confirmed', 'deaths', 'recovered', 'active', 'fips',
       'admin2', 'combined_key'],
      dtype='object')

In [155]:
df.index

RangeIndex(start=0, stop=11930, step=1)

In [156]:
df.dtypes

province_state            object
country_region            object
date              datetime64[ns]
latitude                 float64
longitude                float64
location_geom             object
confirmed                float64
deaths                   float64
recovered                float64
active                   float64
fips                     float64
admin2                   float64
combined_key              object
dtype: object

In [199]:
df.nunique()

province_state       17
country_region        3
date               1142
latitude             24
longitude            23
location_geom        24
confirmed         11001
deaths             3877
recovered          1539
active             1344
combined_key         19
dtype: int64

In [200]:
df['province_state'].value_counts()

province_state
Unknown              3386
W.P. Labuan           534
Johor                 534
Sabah                 534
Kedah                 534
W.P. Kuala Lumpur     534
W.P. Putrajaya        534
Melaka                534
Perak                 534
Negeri Sembilan       534
Terengganu            534
Kelantan              534
Sarawak               534
Pulau Pinang          534
Perlis                534
Selangor              534
Pahang                534
Name: count, dtype: int64

In [201]:
df['province_state'].unique()

array(['Unknown', 'Negeri Sembilan', 'Selangor', 'Perlis', 'Pulau Pinang',
       'Sarawak', 'Kelantan', 'Terengganu', 'Perak', 'W.P. Labuan',
       'Melaka', 'W.P. Putrajaya', 'W.P. Kuala Lumpur', 'Kedah', 'Sabah',
       'Johor', 'Pahang'], dtype=object)

In [202]:
df['country_region'].value_counts()

country_region
Malaysia     9685
Singapore    1142
Indonesia    1103
Name: count, dtype: int64

In [203]:
df['country_region'].unique()

array(['Malaysia', 'Singapore', 'Indonesia'], dtype=object)

In [205]:
df.groupby(['country_region','province_state']).agg({'confirmed':'sum','deaths':'sum','recovered':'sum','active':'sum',})

                                   confirmed     deaths  recovered    active
country_region province_state
Indonesia      Unknown            3692006391  100334003  363930009  51382743
Malaysia       Johor               183340114    2461677       3012         0
               Kedah               140587320    1443311       1710         0
               Kelantan            119538703     804498        725         0
               Melaka               61011677     631648        824         0
               Negeri Sembilan      98025611     856382       1187         0
               Pahang               79664464     535045        557         0
               Perak               101376931    1024163        775         0
               Perlis                7779846      92335         56         0
               Pulau Pinang        133675698    1123191       1197         0
               Sabah               182989419    1769180       2037         0
               Sarawak             155701847    1029862        710         0
               Selangor            655172587    6213502       8880         0
               Terengganu           60051309     464353        333         0
               Unknown             188249100    1395414   94235277  12643956
               W.P. Kuala Lumpur   186055777    1650447       2392         0
               W.P. Labuan           9945442      91945        148         0
               W.P. Putrajaya       11009837      21586         22         0
Singapore      Unknown             723422944     691205   24305676   1372768

## Conclusion

Data berhasil diload dengan lancar

Data Cleaning berhasil dijalankan dengan lancar

Data Exploration berhasil memunculkan data sesuai yang diinginkan